.section {
      margin: 10px 0;
      background: white;
      box-shadow: 0 0 5px #ddd;
}

.section__headerDiv {
      padding: 20px;
      margin: 0px;
      border-bottom: 1px solid #ddd;
      display: grid;
      grid-template-columns: 1fr auto auto;
}

@media (max-width:767px) {
      .section__headerDiv {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 20px 15px;
      }
}

@media (max-width:767px) {
      .section__toggleTasksButtons {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            gap: 20px;
      }
}

.section__header {
      font-size: 20px;
      margin: 0;
}

.section__div {
      padding: 20px;
}

@media (max-width:767px) {
      .section__div {
            padding: 20px 15px;
      }
}

.section__list {
      list-style: none;
      margin: 0px;
      padding: 0px;
}

.section__listItem {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      grid-gap: 10px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
}

@media (max-width:767px) {
      .section__listItem {
            padding: 10px 0px;
      }
}

.section__listItem--done {
      text-decoration: line-through;
}

.section__listItem--hiden {
      display: none;
}

.section__button {
      background-color: rgb(27, 122, 30);
      color: white;
      text-decoration: none;
      border: none;
      width: 30px;
      height: 30px;
      padding: 0px;
      margin: 5px;
      transition: background 0.75s linear;
}

.section__button:hover {
      background-color: rgb(78, 209, 83);
      cursor: pointer;
}

.section__button:active {
      border: 2px solid black;
      border-radius: 2px;
}

.section__buttonRemove {
      background-color: rgb(236, 41, 56);
}

.section__buttonRemove:hover {
      background-color: rgb(254, 138, 147);
      cursor: pointer;
}

.section__toggleTasksButton {
      color: teal;
      background-color: transparent;
      border: none;
      transition: color 0.75s linear;
}

.section__toggleTasksButton:hover {
      color: hsl(180, 48%, 57%);
      cursor: pointer;
}

.section__toggleTasksButton:disabled {
      color: rgb(174 176 176);
      cursor: auto;
}